/* RESET */
.hero {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Background image */
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Dark overlay */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.btn-primary {
  background: #d4af37;
  color: black;
  border: none;
  padding: 14px 30px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #b8962e;
}
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 10%;
  background: #f8f9fa;
  text-align: center;
}

.feature-card {
  width: 30%;
}

.feature-card h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* CATEGORIES */
.categories {
  padding: 70px 8%;
  text-align: center;
}

.categories h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.category-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: transform 0.4s;
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-card h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 1.4rem;
}

/* FEATURED PRODUCTS */
.featured {
  padding: 70px 8%;
  background: #f9f9f9;
  text-align: center;
}

.featured h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.product-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.product-card p {
  color: #d4af37;
  font-weight: 600;
}

